#currency {
  top:9.7rem;
  left: 74rem;
  position: absolute;
  font-family: "VT323", monospace;
  color: white;
  font-size: 1.8rem;
  width: 8rem;
  scale: 0.8;
}

#currAmount {
  top: 10rem;
  left: 77.5rem;
  position: absolute;
  font-family: "VT323", monospace;
  color: white;
  font-size: 1.8rem;
  width: 8rem;
}
