body {
  margin: 0;
  background-color: black;
  overflow: hidden; /* Hide scrollbars */

  .main {
    padding: 8px;
  }

  .task {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 2px;
    max-width: 200px;
  }

  .task + .task {
    margin-top: 4px;
  }

  .task > * + * {
    margin-left: 4px;
  }
}

.main {
  padding: 8px;
}

.task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

.task + .task {
  margin-top: 4px;
}

.task > * + * {
  margin-left: 4px;
}

#title {
  display: flex;
  justify-content: center;
  margin-top: calc(100vh * 0.17);
}
